<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net461" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net461" />
  <package id="LinqToExcel.Validate" version="1.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.0" targetFramework="net461" />
  <package id="Remotion" version="1.18.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
</packages>